<a href="https://colab.research.google.com/github/habib-wahid/ML-Assignment/blob/main/cost_function_minimize_using_gradient_descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# !ls "/content/drive/MyDrive"
data = pd.read_csv("/content/drive/MyDrive/Data/4K_House_Rent_Dataset.csv")
data.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [3]:
Y = data['Rent'].values
X1 = data['Size'].values
X2 = data['BHK'].values
X3 = data['City'].values
X4 = data['Bathroom'].values
X5 = data['Furnishing Status'].values

In [4]:
def replace_feature_by_value(input_list,replacing_item,replaced_value):
  return [replaced_value if item == replacing_item else item for item in input_list]

X3 = replace_feature_by_value(X3,'Bangalore',1)
X3 = replace_feature_by_value(X3,'Chennai',2)
X3 = replace_feature_by_value(X3,'Delhi',3)
X3 = replace_feature_by_value(X3,'Hyderabad',4)
X3 = replace_feature_by_value(X3,'Kolkata',5)
X3 = replace_feature_by_value(X3,'Mumbai',6)

X5 = replace_feature_by_value(X5,'Furnished',1)
X5 = replace_feature_by_value(X5,'Semi-Furnished',2)
X5 = replace_feature_by_value(X5,'Unfurnished',3)

print(type(X1[0]),type(X2[0]),type(X3[0]),type(X4[0]),type(X5[0]))

<class 'numpy.int64'> <class 'numpy.int64'> <class 'int'> <class 'numpy.int64'> <class 'int'>

In [5]:
def min_max_scalar(input_list):
  min = np.min(input_list)
  max = np.max(input_list)
  dif = max-min
  return [(item-min)/dif for item in input_list]

X1 = min_max_scalar(X1)
X2 = min_max_scalar(X2)
X3 = min_max_scalar(X3)
X4 = min_max_scalar(X4)
X5 = min_max_scalar(X5)

**Gradient Descent Algorithm**

In [6]:
theta_0 = 0
theta_1 = 0
theta_2 = 0
theta_3 = 0
theta_4 = 0
theta_5 = 0

m = len(X1)
epoch = 1000
learning_rate = 0.00000001


for i in range(epoch):
  temp_0 = 0
  temp_1 = 0
  temp_2 = 0
  temp_3 = 0
  temp_4 = 0
  temp_5 = 0
  
  for j in range(m):
    temp_0 += (theta_0 + theta_1*X1[j] + theta_2*X2[j] + theta_3*X3[j] + theta_4*X4[j] + theta_5*X5[j] - Y[j])
    temp_1 += (theta_0 + theta_1*X1[j] + theta_2*X2[j] + theta_3*X3[j] + theta_4*X4[j] + theta_5*X5[j] - Y[j]) * X1[j]
    temp_2 += (theta_0 + theta_1*X1[j] + theta_2*X2[j] + theta_3*X3[j] + theta_4*X4[j] + theta_5*X5[j] - Y[j]) * X2[j]
    temp_3 += (theta_0 + theta_1*X1[j] + theta_2*X2[j] + theta_3*X3[j] + theta_4*X4[j] + theta_5*X5[j] - Y[j]) * X3[j]
    temp_4 += (theta_0 + theta_1*X1[j] + theta_2*X2[j] + theta_3*X3[j] + theta_4*X4[j] + theta_5*X5[j] - Y[j]) * X4[j]
    temp_5 += (theta_0 + theta_1*X1[j] + theta_2*X2[j] + theta_3*X3[j] + theta_4*X4[j] + theta_5*X5[j] - Y[j]) * X5[j]
    

  theta_0 = theta_0 - learning_rate*temp_0/m
  theta_1 = theta_1 - learning_rate*temp_1/m
  theta_2 = theta_2 - learning_rate*temp_2/m
  theta_3 = theta_3 - learning_rate*temp_3/m
  theta_4 = theta_4 - learning_rate*temp_4/m
  theta_5 = theta_5 - learning_rate*temp_5/m

print(theta_0,theta_1,theta_2,theta_3,theta_4,theta_5)

0.34993143614894956 0.06756775827522761 0.12391182387654882 0.23071972042837777 0.07141639192102028 0.17771795254963255

***Cost Calculation***

In [7]:
sum = 0
for i in range(m):
  temp = theta_0 + theta_1*X1[i] + theta_2*X2[i] + theta_3*X3[i] + theta_4*X4[i] + theta_5*X5[i]
  temp = temp ** 2
  sum += temp

cost = sum/(2*m)
print(cost)

0.19529931361300404